[submodule "diffusers"]
	path = diffusers
	url = git@github.com:huggingface/diffusers.git
[submodule "vision-language-models-are-bows"]
	path = vision-language-models-are-bows
	url = git@github.com:mertyg/vision-language-models-are-bows.git
